%div{class: "content"} 
  %div{class: "header"}
    %div{class: "header__logo"}
    %div{class: "header__category_box"}
    %div{class: "header__log_in"}
  %nav{class: "bread-crumbs"}
  %div{class: "main_content"}
  %div{class: "footer"}
