.main_content{
  height: 1000px;
  padding: 120px 108px 0px;
  &__top{
    height: 400px;
    background: gray;
    clear: both;
  }
  &__left{
    height: 600px;
    width: 44vw;
    background: red;
    display: inline-block;
    float: left;
  }
  &__right{
    height: 400px;
    width: 36vw;
    margin-top: 100px;
    background: blue;
    display: inline-block;
    float: right;
  }
}
