.main_content{
  height: 1000px;
  &__left{
    height: 600px;
    width: 600px;
    background: red;
    display: inline-block;
  }
  &__right{
    height: 300px;
    width: 400px;
    background: yellow;
    float: right;
    display: inline-block;
  }
}
