.form4{
  display: inline-block;
  width:800px;
  height: 40px;
  margin: 0px 50px;
  .sbox4{
    height:30px;
    width: 500px;
    padding:0 10px;
    left:0;
    top:0;
    border-radius:25px;
    outline:0;
    background:#eee;
  }
  .sbtn4{
    height:30px;
    width:50px;
    left:250px;
    top:0;
    background:#7fbfff;
    color:#fff;
    border:none;
    border-radius:0 25px 25px 0;
    .fa-search{
      font-size:20px;
      top:30%;
      left:30%;
    }
    &:hover{
      color:#888;
    }
  }
}

.btn{
  display: inline-block;
  color: #38aef0;
  height: 30px;
  width: 64px;
  line-height: 36px;
  text-align: center;
  border: 2px solid;
  border-color: #38aef0;
  text-decoration: none;
}
